.homeTitle {
  font-family: inherit;
  font-size: 50pt;
  color: black;
  text-align: center;
  margin-top: 50px;
  border-color: #0000CD;
  border-style: groove;
  border-width: thick;
}


.image_with_text{
  position: relative;
  text-align: center;
  font-size: 12pt;

}

.box  {
  color: orange;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: green;
}

.LatestNews {

    position: relative;
    margin-left: 60px;
}

.TwitterFeed {
  margin-left: 70px;
}

.heading1{
  padding-top: 60px;
  margin-left: 70px;
  color: black;
}

li{
  text-align: left;
  font-size: 12pt;
  font-style: italic;
  padding-top: 15px;
}

#heading3{
  margin-top: -30px;
  margin-bottom: 50px;
  font-size: 40pt;
}

.jumbotron {
  background-color:blue;
  color: green;
}

#publications {
  text-align: center;
  color: grey;
}

.publication_date{
  font-size: 25pt;
  font-style: italic;
}

.publication_info{
  font-size: 12pt;
}

footer {
  text-align: right;
  margin-top: 50px;
}

body {
  background-color: blue;
}

p {
  color: orange;
}

h1 {
  color: orange;
}

h3 {
  color: orange;
}